nav {
    width: 100%;
    display: flex;
    position: relative;
    background-color: rgb(41, 38, 38);
    overflow: hidden;

}

nav a {

    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;


}

nav a {
    float: left;
    list-style: none;
    margin-left: 20px;
    color: rgb(3, 252, 28);
}

body {
    background-image: url(/img/Olaf_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.rodape {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    border-style: solid;
    height: auto;
    width: auto;
    font-family: "open sans";
}